# .gitignore for the PMSUpload project

# ignore Mac-specific directory descriptor file
.DS_Store
# ignore Eclipse files
.project
.settings
.includepath
# ignore any directory named 'old' - temp backups
*/old/
# ignore vi temp files
*.swp
# ignore the UploadedFiles directory
UploadedFiles/
# ignore the property file
properties.txt
